{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>lms</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- Menu Items  -->

  <div class="container-fluid py-1">

    <img src="{% static 'img/headlogo.jpg' %}" class="w-100 d-none d-sm-block">
    <img src="{% static 'img/mobilehead.jpg' %}" class="w-100 d-block d-sm-none">
  </div>

  <!-- Secondary Mobile Menu  -->
  <nav class="navbar sticky-top mobile-menu-height align-items-center" id="mobileMenu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileMenuItems"
      aria-controls="mobileMenuItems" aria-expanded="false" aria-lable="Toggle Navigation">
      <span class=""><i class="fas fa-bars fa-1x"></i></span>
    </button>
    <div class="" id="searchBarMobile">
      <div class="input-group" id="searchGroup">
          <input type="text" class="form-control" placeholder="Search.." aria-label="Search" aria-describedby="searchIcon">
          <div class="input-group-append">
              <span class="input-group-text" id="searchIcon">
                <i class="fas fa-search"></i>
              </span>
          </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="mobileMenuItems">
        <ul class="navbar-nav">
            <li class="nav-item active"> <a class="nav-link" href="{% url 'lms:index' %}">Home </a> </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'lms:about' %}"> About </a></li>
            <li class="nav-item"><a class="nav-link" href="#"> Services </a></li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  More items  </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                  <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
                </ul>
            </li>
        </ul>
        
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#"> Menu item </a></li>
            <li class="nav-item"><a class="nav-link" href="#"> Menu item </a></li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> Dropdown right </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
                  <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
                </ul>
            </li>
        
        </ul>
    </div>
  </nav>
  <!-- Secondary Menu  -->
  <nav class="navbar navbar-expand-lg navbar-dark  main-menu" id="desktopMenu">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarTogglerDemo01">

      <div class="dropdown">
        <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img src="{% static 'img/cat01.png' %}" class="img-fluid" alt="Responsive image">&nbsp;&nbsp;Categories
        </a>
        <ul class="dropdown-menu multi-level mt-2" role="menu" aria-labelledby="dropdownMenu">

          <li class="dropdown-item"><a href="#">Design</a></li>

          <li class="dropdown-submenu">
            <a class="dropdown-item" tabindex="-1" href="#">IT & Software</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a tabindex="-1" href="https://codegnan.com/demo/lmscourse">Second level</a>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="https://codegnan.com/demo/lmscourse">Even More..</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">3rd level</a></li>
                  <li class="dropdown-submenu"><a class="dropdown-item"
                      href="https://codegnan.com/demo/lmscourse">another level</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">4th level</a></li>
                      <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">4th level</a></li>
                      <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">4th level</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">3rd level</a></li>
                </ul>
              </li>
              <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">Second level</a></li>
              <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">Second level</a></li>
            </ul>
          </li>
          <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">Business</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item" tabindex="-1" href="#">Electrical</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a tabindex="-1" href="https://codegnan.com/demo/lmscourse">Second level</a>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="https://codegnan.com/demo/lmscourse">Even More..</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">3rd level</a></li>
                  <li class="dropdown-submenu"><a class="dropdown-item"
                      href="https://codegnan.com/demo/lmscourse">another level</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">4th level</a></li>
                      <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">4th level</a></li>
                      <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">4th level</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">3rd level</a></li>
                </ul>
              </li>
              <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">Second level</a></li>
              <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">Second level</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item" tabindex="-1" href="#">Marketing</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a tabindex="-1" href="https://codegnan.com/demo/lmscourse">Second level</a>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="https://codegnan.com/demo/lmscourse">Even More..</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">3rd level</a></li>
                  <li class="dropdown-submenu"><a class="dropdown-item"
                      href="https://codegnan.com/demo/lmscourse">another level</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">4th level</a></li>
                      <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">4th level</a></li>
                      <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">4th level</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">3rd level</a></li>
                </ul>
              </li>
              <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">Second level</a></li>
              <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">Second level</a></li>
            </ul>
          </li>
          <li class="dropdown-divider"></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item" tabindex="-1" href="#">Development</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a tabindex="-1" href="https://codegnan.com/demo/lmscourse">Second level</a>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="https://codegnan.com/demo/lmscourse">Even More..</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">3rd level</a></li>
                  <li class="dropdown-submenu"><a class="dropdown-item"
                      href="https://codegnan.com/demo/lmscourse">another level</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">4th level</a></li>
                      <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">4th level</a></li>
                      <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">4th level</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">3rd level</a></li>
                </ul>
              </li>
              <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">Second level</a></li>
              <li class="dropdown-item"><a href="https://codegnan.com/demo/lmscourse">Second level</a></li>
            </ul>
          </li>
        </ul>
      </div>


      <form class="form-inline pad">
        <div class="input-group">

          &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="form-control mysearch"
            placeholder="what do you want to learn ?" aria-label="Username" aria-describedby="basic-addon1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" style="font-size:20px"></i></span>
          </div>
        </div>
      </form>

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
      <i class="fa fa-shopping-cart" style="font-size:28px;color:white"></i>&nbsp;&nbsp;
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-primary login-btn my-2 my-sm-0" type="submit">Login</button>&nbsp;&nbsp;
        <button class="btn btn-outline-primary  login-btn my-2 my-sm-0" type="submit">Register</button>
      </form>
    </div>
  </nav>
  {% block content %}

  {% endblock %}
  <section>
    <h2 class="text-uppercase headcolor mb-2 mb-md-3 mt-5  text-center">Programs Created in Collaboration with </h2>

    <div class="container">
      <div class="row text-center">
        <div class="col-md-3">
          <img src="{% static 'img/mc.png' %}" class="img-fluid mt-5" alt="Responsive image">
        </div>
        <div class="col-md-3">
          <img src="{% static 'img/hp.png' %}" class="img-fluid mt-5" alt="Responsive image">
        </div>
        <div class="col-md-3">
          <img src="{% static 'img/mc.png' %}" class="img-fluid mt-5" alt="Responsive image">
        </div>
        <div class="col-md-3">
          <img src="{% static 'img/hp.png' %}" class="img-fluid mt-5" alt="Responsive image">
        </div>
      </div>
    </div>
  </section>

  <!--footer-->
  <section class="student">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 text-center">
          <img src="{% static 'img/logo.png' %}" class="mt-5 img-fluid  footlogo " alt="Responsive image"><br><br>
          <div class="social">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
          </div>
        </div>
        <div class="col-md-3 mt-5">
          <ul class="lifoot">
            <h5 class="foothead">Master Courses</h5>
            <li>Data science</li>
            <li>Artificial Intelligence</li>
            <li>Big Data</li>
            <li>Cloud and DevOps</li>
            <li>Hadoop Training</li>
          </ul>
        </div>
        <div class="col-md-3 mt-5">
          <ul class="lifoot">
            <h5 class="foothead">Courses</h5>
            <li>Data science</li>
            <li>Artificial Intelligence</li>
            <li>Big Data</li>
            <li>Cloud and DevOps</li>
            <li>Hadoop Training</li>
          </ul>
        </div>
        <div class="col-md-3 mt-5">
          <ul class="lifoot">
            <h5 class="foothead">Special Courses</h5>
            <li>Data science</li>
            <li>Artificial Intelligence</li>
            <li>Big Data</li>
            <li>Cloud and DevOps</li>
            <li>Hadoop Training</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col pb-3 text-center mt-5">
          <p class="text-uppercase copy">APSSDC | All rights reserved | Copyright © 2020</p>
        </div>
      </div>
    </div>
  </section>

    <!-- script  -->
    <script src="https://kit.fontawesome.com/a01bd6bffe.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>

</html>